ul {    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #5393f3;

}

li {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px;
    min-height: 100px;
    background: #5393f3;
}

.menu_link {
    font-size: 1.2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    font-weight: 300;
    background: #5393f3;
  }

.menu_header {
    width: 100%;
    text-align: center;
    position: relative;
    top: 0;
    overflow: hidden;
    background: #5393f3;

    h1 {
        font-size: 42px;
        color: white;
        line-height: 230px;
        font-weight: 100;
    }
  }

  nav {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: rgba(0,0,0,.1);
}

    nav a {
    color: white;
    display: inline-block;
    maring: 0 10px;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
 
}

.fixedTop {
    position:fixed;
    top: 0px;

}

.tutorialJogo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.tutorialJogo h2 {
    margin-top: 0;
}

.tutorialJogo p {
    margin-top: 5px;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0;
    margin-right: 50px;
}

.tutorialJogo img {
    margin-right: 20px;
    max-width: 300px;
    height: 200px;
    vertical-align: middle;
}

.tutoriais {
    
}