.menu_link {    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #5393f3;

    li {
        float: left;
    }
}



a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #1a1d21;
    text-rendering: optimizeLegibility;
}

.footer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px;
    min-height: 100px;
    background: #5393f3;
}

.menu_link {
    font-size: 1.2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    font-weight: 300;
    background: #5393f3;
  }

.menu_header {
    width: 100%;
    text-align: center;
    position: relative;
    top: 0;
    overflow: hidden;
    background: #5393f3;

    h1 {
        font-size: 42px;
        color: white;
        line-height: 230px;
        font-weight: 100;
    }
  }

  nav {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: rgba(0,0,0,.1);
}

    nav a {
    color: white;
    display: inline-block;
    maring: 0 10px;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
 
}

.fixedTop {
    position:fixed;
    top: 0px;

}

.tutorialJogo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.tutorialJogo h2 {
    margin-top: 0;
}

.tutorialJogo p {
    margin-top: 5px;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0;
    margin-right: 50px;
}

.tutorialJogo img {
    width: 300px;
    height: 200px;
    margin-right: 50px;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
  }
  td,
  th {
    border: 1px solid black;
    padding: 10px 20px;
  }

.exemploApex {
  color: #1a1d21;
  background-color: #e3f4f9;
  border-color: #5bc0de;
  box-sizing: border-box;
  padding: calc(18px * 1.6) 20px;
  margin-bottom: calc(18px * 1.6);
  border-left-width: 5px;
  border-left-style: solid;

  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #1a1d21;
  text-rendering: optimizeLegibility;
  .exemploCor {
    color: #5bc0de;
  }
}


  .tabelasElos {
    

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

 
  }

.ranqueBody {
    border-bottom: 1px solid #D1D1D1;
    margin-left: 0;
    padding: 30px 0 0;
    padding-bottom: 0px;
    position: relative;
    word-wrap: break-word;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    h1 {
        border-bottom: 1px solid #D1D1D1;
        margin-left: 0;
        padding: 30px 0 0;
        padding-bottom: 0px;
        position: relative;
        word-wrap: break-word;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

.tabelas-elos h2 {
    margin-top: 0;
    text-align: center;
}

.curiosidades {
  font-size: 16px;
}

.elo-alto {
    text-align: center;
}

.tabelaApeax  {  
  display: block;
  border-top: 1px solid #d2d2d2;
  padding: 20px 0;
  margin-top: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 14px;
  line-height: 24px;

}

.tabelaApex {
    th {
        text-align: left;
      }
      
      .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: calc(18px * 1.6);
        font-size: 14px;
        line-height: 24px;
      }
      
      .tabelaApex th {
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
        color: #8b9199;
      }
      
      .tabelaApex th,
      .tabelaApex td {
        padding: 8px 40px;
        vertical-align: top;
      }
      
      .tabelaApex td {
        border-top: 1px solid #ddd;
      }
      
      .tabelaApex thead th {
        vertical-align: bottom;
      }
      
      .tabelaApex tbody + tbody {
        border-top: 1px solid #ddd;
      }
      
      .tabelaApex .tabelaApex {
        background-color: #fff;
      }
      
      .tabelaCor-apex th {
        background-color: #e4373c;
        color: #fff;
      }
}


.tutoriais {
  box-sizing: content-box;
  display: block;
  float: none;
  line-height: 18.4px;
  position : static;
  z-index: auto;

  width: 100%;
  padding-right: 15px;
  margin: 0;

  flex: 1 1 100%;
  min-width: 0px;

  
}
.artigo-tutorial {
  flex-direction: row;
  display: flex;
  
}

.ranqueBody {
  box-sizing: border-box;
  display: block;
  float: none;
  line-height: 28.8px;
  position : static;
  z-index: auto;
  flex: 1 1 100px;
  max-width: 680px;
}

.artigos--tutorial {
  list-style: none;
  padding: 0;
  margin: 0;
}



.container-image {
  
}

.thumb {
  display: block;
  width: 100%;
  height: 100%;
  border-style: none;
}

.style-info {
  align-self: center;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: auto;
  width: 75%;
}

.style-information {
  max-width: 350px;
  color:inherit;
}

.style-title {
  font-family: "Spiegel", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  margin-top: 0.3125rem;
  line-height: 1.2;
  margin-bottom: 0px;
  letter-spacing: 0.75px;
  font-weight: 800;
  color: inherit;
}

.style-description {
  line-height: 1.5;
  margin: 10px 0px;
  font-size: 0.75rem;
}

.content-apresentacao {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;

  min-width: 0px;
}

.title-apresentacao {
  color: #fff;
  text-align: center;
  font-style: italic;
  margin: 0;
  font-size: 40px;
  letter-spacing: 0.05em;
  font-family: "Beaufort for LOL", "Arial Narrow", serif;
  
  line-height: 0.85;
}

.description-apresentacao {
  color: #fff;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.08em;
  font-size: 0.985rem;
  margin: 20px auto 0px;
  max-width: 660px;
  font-family: "spiegel", "Arial Narrow", Arial, sans-serif;
}

.bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -100;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bg-video.jpg) 
  no-repeat center center;
  
}

.artigos-jogo {
  box-sizing: border-box;
  display: block;
  float: none;
  line-height: 28.8px;
  position: static;
  z-index: auto;
  flex: 1 1 100px;
  max-width: 680px;

  word-wrap: break-word;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0px;
  padding: 30px 0 0;
}

.artigos--title {
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.08em;
  font-size: 0.985rem;
  margin: 20px auto 0px;
  max-width: 660px;
  font-style: italic;
  font-family: "spiegel", "Arial Narrow", Arial, sans-serif;
}

.artigos--p {
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.08em;
  font-size: 0.985rem;
  margin: 20px auto 0px;
  max-width: 660px;
  font-family: "spiegel", "Arial Narrow", Arial, sans-serif;
}

.artigo-section {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}
/*
  .topico-section {
    overflow: hidden;
    white-space: nowrap;
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
*/
.li-topico-section {
  box-sizing: content-box;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-right: 10%;
  transform: translate(0%);
}

.section-tutorial {
  position: relative;
  z-index: 1;
  padding: 120px 0px;

}

.div-tutorial {
  display: flex;
  width: 100%;
  height: 100%;
}

.div--tutorial {
  flex: 1 1 100%;
  min-width: 0px;
}

.container-section-tutorial {
  align-items: center;
  width: calc(100% - 120px);
  max-width: 1560px;
  margin: 55px auto 0px;
  position: relative;
  display: flex;
  -moz-box-align: center;
}

.style_section-tutorial {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}
/*
.style_assetContainer {
  flex: 1 1 auto;
  min-width: 0px;
  position: relative;
}

.style_olContainer {
  position: relative;
  list-style: none;
  margin: 0px;
  padding: 56.25% 0px 0px;
  width: 100%;
}
*/

.title-section-tutorial { 
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.08em;
  font-family: "spiegel", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}

.habilidades-div {
  position: absolute;
  inset: 0px;
}

.style-content-title {
  flex: 1 1 100%;
  min-width: 0px;
}

form {
  
  margin: 0 auto;
  width: 400px;
  
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {

  font: 1em sans-serif;

  
  width: 300px;
  box-sizing: border-box;

  
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  
  border-color: #000;
}

textarea {
  
  vertical-align: top;

  
  height: 5em;
}

.button {
  
  padding-left: 90px; 
}

button {

  margin-left: 0.5em;
}
